<!--
    Robot base.
-->
<launch>

    <arg name="has_gyro" default="true"/>

    <!-- Base Driver -->
    <node pkg="kaqi_driver" type="base_driver_node" name="base_driver_node" output="screen" >
        <param name="port" value="/dev/ttyUSB0" />
        <param name="baudrate" value="230400" />
        <param name="timeout" value="1000" />
        <param name="controller_frequency" value="20" />
        <param name="controller_timeout" value="0.5" />
        <param name="odometry_timeout_" value="0.2" />
        <param name="publish_odom_tf" value="false" if="$(arg has_gyro)"/>
        <param name="publish_odom_tf" value="true" unless="$(arg has_gyro)"/>
        <param name="base_frame" value="/base_footprint" />
        <param name="odom_frame" value="/odom" if="$(arg has_gyro)"/>
        <param name="odom_frame" value="/odom_combined" unless="$(arg has_gyro)"/>
        <param name="encoder_pulses" value="3120" />
        <param name="wheel_radius" value="0.0321" />
        <param name="wheel_seperation" value="0.31846" /> <!--0.32 -->
        <param name="caster_wheel_diameter_" value="0.05" />
        <param name="gyro_z_offset" value="27" />
        <param name="gyro_z_scale" value="0.995795" />
    </node>

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
        <param name="robot_description" value="robot_description" />
        <param name="publish_frequency" value="100" />
        <param name="tf_prefix" type="string" value="" />
    </node>

    <!-- Robot pose ekf -->
    <group if="$(arg has_gyro)">
        <node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf" output="screen">
            <param name="output_frame" value="/odom_combined"/>
            <param name="base_footprint_frame" value="/base_footprint"/>
            <param name="freq" value="50.0"/>
            <param name="sensor_timeout" value="0.5"/>
            <param name="publish_tf" value="true"/>
            <param name="odom_used" value="true"/>
            <param name="imu_used" value="true"/>
            <param name="vo_used" value="false"/>
            <remap from="odom" to="odom" />
            <remap from="imu_data" to="imu/data" />
        </node>
    </group>

</launch>
